$slide-count: 5;
$slide-width: 30rem;

.home-page {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    footer .inner {
        width: 60%;
    }
}

.home-header {
    @include tinted-background-img('https://i.postimg.cc/cLqxYTdY/bg.jpg');

    height: 30rem;
}

// ============= Carousel ============= //
.carousel__wrap {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    position: relative;
    width: 100%;
}

.carousel__inner {
    height: 40rem;
    position: relative;
    width: calc(#{$slide-width * 3});
}

.carousel__container {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.carousel__slide-list {
    height: 100%;
    left: 50%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translateX(-50%);

    &.odd {
        width: calc(#{$slide-count * $slide-width});
    }

    &.even {
        width: calc(#{$slide-count * $slide-width + $slide-width});
    }
}

.carousel__slide-item {
    height: $slide-width;
    margin: 0;
    padding: 1rem;
    position: absolute;
    transition: all 0.3s;
    width: $slide-width;
}

.carousel__slide-item-img-link {
    @include overlay('read more');

    cursor: zoom-in;
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;

    img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}

.carousel-slide-item__body {
    bottom: -2.5rem;
    height: 10%;
    position: absolute;

    h4 {
        margin: 0.7rem 0 0;
        text-transform: uppercase;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.3;
        margin: 0.7rem 0 0;
    }
}

.carousel__btn {
    align-items: center;
    background: 0;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &--prev {
        left: -20rem;
    }

    &--next {
        right: -20rem;
    }
}

.carousel__btn-arrow {
    border: solid $black;
    border-width: 0 0.4rem 0.4rem 0;
    height: 6rem;
    padding: 3px;
    width: 6rem;
    z-index: 10;

    &--left {
        transform: rotate(135deg);
    }

    &--right {
        transform: rotate(-45deg);
    }
}

.carousel__dots {
    display: inline-block;
    left: 50%;
    margin-top: 2rem;
    position: absolute;
    transform: translateX(-50%);

    .dot {
        background: #ccc;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        height: 2rem;
        margin: 0 0.3rem;
        outline: none;
        transform: scale(0.5);
        width: 2rem;

        &.active {
            background: $black;
        }
    }
}
