@mixin tinted-background-img($url) {
    background:
        linear-gradient(rgba($primary, 0.9), rgba($primary, 0.9)),
        url($url);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin overlay($content) {
    overflow: hidden;

    &::after {
        align-items: center;
        background: rgba(black, 0.5);
        color: white;
        content: $content;
        display: flex;
        height: 100%;
        justify-content: center;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        width: 100%;
    }

    &:hover {
        &::after {
            opacity: 1;
        }

        img {
            transform: scale(1.3);
        }
    }

    img {
        transition: all 0.5s ease;
    }
}
