// ============= view ports ============= //
$mobileS: 320px;
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
$desktop: 2560px;

// ============= theme ============= //
$primary: #003334;
$black: #161616;
$white: #fff;

// ============= measurements ============= //
$maxWidth: 1024px;
$smallerMaxWidth: 768px;
$footerHeight: 5rem;
